#map { 
    height: 75vh; 
    width: 75%;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: #AAD3DF;
}
.title{
    color: white;
    font-family: sans-serif;
    font-style: italic;
    right: 0px;
    position: relative;

}