.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.dial{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    /* margin-left: 50%; */
    cursor: pointer;
    text-align: center;
    justify-content: center;
}
.dial-text{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: lightgray;
    position: absolute;
    display: flex;
    /* margin-left: 50%; */
    cursor: pointer;
}
.sun-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    width: 100vw;
}
.sun{
    width: 250px;
    height: 500px;
    border-radius: 500px 0 0 500px;
    position: absolute;
    display: flex;
    background-color: palegoldenrod;
    opacity: 55%;
    /* center: 50%; */
    right: 50vw;

}
.poem{
    position: absolute;
    height: 495px;
    display: flex;
    top: 0%;
    
}
body{
    background-color: black;
}
.clock-nums{
    width: 1200px;
    position: fixed;
}