body {
    background-color: #d7f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.items_container {
    background-color: white;
    width: 60vw;
    height: 70vh;
}

