@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Rubik+Iso&family=Rubik+Vinyl&display=swap');
body {
    background-color: #d7f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 110vh;
    width: 100vw;
    /* text-align: center; */
}
/* font  */
.rubik-iso-regular {
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.items_container {
    /* background-color: white; */
    width: 60vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid_container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.grid_item {

    /* border: 1px solid #aeaeae; */
    height: 100%;
    width: 20vw;
    display: flex; 
    justify-content: center; 
    align-items: center; 
   
}
.grid_item img{

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
/* grid image containers  */
.g1{
    width: 60vw;
    grid-column: 1 / 4;
}
.g2{
    grid-column: 1 / span 1;
}
.g3{
    grid-column: 2 / 3 ;
    grid-row: 2 / 4;
}
.g4{
    grid-column: 3 / span 1;

}
.g5{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}
.g6{
    grid-column: 3 / 4;
    grid-row: 3 / 6;
}
.g8{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.g9{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.g10{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}
/* images  */
.hair{
    position: absolute;
    /* display: flex;  */
    width: 60vw;
    transform: translateY(100px) ;
    transform: translateX(15vw);

}
.eye_left{
    /* position: fixed;
    display: flex; */
    position: absolute;
    width: 13vw;
    transform: translateX(120px) translateY(50px);


}
.eye_right{
    position: absolute;
    width: 13vw;
    transform: translateX(-150px) translateY(50px);



}
.nose{
    /* position: fixed;
    display: flex; */
    width: 10vw;
}
.mouth{
    /* position: fixed;
    display: flex;
    object-fit: cover;
    width: 100%;*/
    width: 10vw;
    transform: translateY(40px);
}

.LC{
    width: 20vw;
    transform: translateX(60px) translateY(-40px);

}
.RC{
    width: 10vw;
    /* transform: translateX(-150px) translateY(-150px); */
}
.chin{
    width: 10vw;
    /* transform: translateY(-230px); */
}
/* navigation */
nav{
    bottom: 0;
    position: fixed;
    display: flex;
    right: 0;
    justify-content: space-around;
}

nav a{
    display: flex;
    font-size: 50px;
    justify-content: space-between;
    font-family: "Rubik Iso", system-ui;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nose:hover{
    transform: scale(200%);
    transition: 1s;
}
.stickeroptions{
    display: block;
    background-color: white;
    margin-left: 15vw;
    justify-content: space-around;
    right: 0%;

}
.stickeroptions img{
    justify-content: space-around;
    width: 8vw;
}
.mycanvas{
    margin-left: 10vw;
    padding-top: 8vh;

}
.paperoptions{
    display: block;
    margin: 10vw;
    margin-right: 15vw;
    justify-content: space-around;
    /* right: 0%; */
    padding: 50px;


}
.paperoptions img{
    justify-content: space-around 100px;
}
.papericon{
    width: 15vw;
}
.paper2icon{
    width: 15vw;
}
h1{
    font-size: 50px;
    font-family: "Rubik Iso", system-ui;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inlne;
}
.titlecontainer{
    width: 100vw;
    height: 10vh;
    top: 0px;
    position: absolute;

}
